.container {

  > .content {
  }
}

.aside {
  width: 250px;
  padding: 1rem;
  // border-right: 1px solid rgba(59, 59, 59, 0.5);

  nav {
    margin-top: 4rem;
    ul {
    max-width: 180px;
    margin: 0 auto;
    font: normal 500 1rem 'Segoe UI', Roboto, sans-serif;
    transition: all .2s;

    li {
      display: flex;
      margin: .3rem 0;
      transition: all .2s;

      &.active {
        color: #F9A839;
        font-size: 1.2rem;
        margin: .5rem 0;
      }
    }
  }}
}