.container {
  width: 100%;

  > main {
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    margin-top: -5rem;

    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > section {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-weight: 500;

      span {
        display: inline-block;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        font-family: Roboto, sans-serif;
      }
    }

    input {
      width: 100%;
      height: 2.6rem;

      padding: 0.5rem;
      font: normal 400 1.09rem "Roboto", sans-serif;
      line-height: 26px;

      border-radius: 0.2rem;
      border: 2px solid transparent;

      color: #ffffff;
      background: #202024;

      &:focus {
        border: 2px solid #F9A839;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .7rem;

      height: 2.4rem;
      width: 100%;
      border: 0;
      border-radius: 0.2rem;

      font: normal 500 1rem "Segoe UI", sans-serif;
      line-height: 26px;
      transition: all 0.2s;
      cursor: pointer;

      background: #f9a839;
      color: #121214;

      &:hover {
        background: #e79d35;
      }
    }
  }
}
