#container {
  height: 100%;
}

header {
  height: 5rem;
  background: #121214;
}
header nav {
  color: white;

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav span {
  font-weight: bold;
  font-size: 23px;
  color: #ffd600;
}

header nav button {
  height: 2rem;
  width: 120px;
  border-radius: 4px;
}
body {
  height: 100%;
  background-color: #686868;
}

#Principal {
  margin-top: 30px;
}
.bt1 {
  background-color: #ffd600;
}
.bt2 {
  background-color: #686868;
}
.bt3 {
  background-color: #686868;
}
.bt4 {
  background-color: #686868;
}

#dados {
  margin: 50pt auto;

  width: 300px;
  height: 300px;
  border-radius: 12px;
  padding: 2rem;
  background-color: rgb(73, 73, 73);
}
.typing1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
div input {
  background-color: #999898;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}
div strong {
  color: rgb(187, 187, 187);
}

.typing2 {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.bt5 {
  margin-top: 30px;
  border-radius: 10px;
  width: 160px;
  height: 40px;
}

/* ADICIONEI PARA O ASIDE */
aside {
  padding: 2rem;
  max-width: 270px;
}
aside ul {
  margin-top: 0.7rem;
}
aside ul li {
  display: flex;
  align-items: center;
  height: 30px;
  border-radius: 6px;
  margin: 5px 0;
  padding: 0 9px;
  color: #121212;
  background: #444444;
}
aside ul li:hover {
  color: #ffd666;
}
aside ul li.active {
  color: #ffd600;
}
aside ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
