#container {
  height: 100%;
}

header {
  height: 5rem;
  background: #121214;
}
header nav {
  color: white;

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav span {
  font-weight: bold;
  font-size: 23px;
  color: #ffd600;
}

header nav button {
  height: 2rem;
  width: 120px;
  border-radius: 4px;
}
body {
  height: 100%;
  background-color: #686868;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
#Quadrado{
  background-color: rgb(158, 157, 157);
  display: grid;
  grid-template-columns: 50px 50px 50px; 
  margin: auto;
  border-radius: 5%;
  padding-top: 5%;
  padding-right: 15%;
  padding-bottom: 15%;
  max-width: fit-content;
  display: flex;
  }
  div strong{
   color: white;
  }