body {
  background: #444444;
}

h1 {
  color: #ffd600;
}

#container #content {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  max-height: 430px;

  margin: auto;
  padding: 40px;
  margin-top: 5rem;
  height: 500px;
  line-height: 60px;
}



form {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 4px;
  height: 2.5rem;
  margin-top: 1rem;
}

button {
  border-radius: 4px;
  height: 2.5rem;
  background: #835afd;

  margin-top: 1.5rem;
}
