#container {
  height: 100%;
}

header {
  height: 5rem;
  background: #121214;
}

header nav {
  color: white;

  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav span {
  font-weight: bold;
  font-size: 23px;
  color: #FFD600;
}

header nav button {
  height: 2rem;
  width: 120px;
  border-radius: 4px;
}

#content {
  display: flex;
  flex-direction: row;
  color:  #B6B6B6;
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 26px;

}


#content aside {
  width: 300px;
  min-height: 500px;
  padding: 10px 20px;

  border-right: 1px solid black;

  background: #686868;

  

 
}
